.favs {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  margin-top: -60px;
}

.social-media{
  display: flex;
  margin-top: 5px;
  margin-left: 145px;
  margin-right: 1481px;
}

.a_twitter{
  margin-right: 14px;
}

.twitter,
.github{
  width: 30px;
}

.heart{
  font-size: 24px;
}

.numFavs {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  font-size: 16px;
}

.row {
  margin-top: 75px !important;
}

.pagination {
  display: flex;
  justify-content: flex-end;
  margin-right: 35px;
}

ngb-pagination ::ng-deep a {
  color: black !important;
}

.firstIn{
  width: 45px !important;
  margin-left: -2px !important;
  padding-left: 13px !important;
}

.form-control {
  border: 1px solid #f0f0f0 !important;
}

.form-control:disabled,
.form-control[readonly] {
  background-color: #f3f6f9 !important;
  opacity: 1;
}

#search-nav {
  width: 1830px !important;
  margin: auto !important;
  border: 1px solid #f0f0f0 !important;
}

#search-nav:focus {
  box-shadow: 2px 0px 2px -1px rgba(8, 8, 8, 0.603);
}

.pokemon-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 18px;
  padding: 0px 10px 20px 10px;
}

.card {
  display: flex;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  flex-direction: row;
}

.img-container {
  padding: 0px 5px;
}

.card-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px 10px 10px 10px;
  flex: 1;
}

.card-info h3 {
  font-size: 22px;
  text-transform: capitalize;
}

.card-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.card-bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.pokemon-type {
  display: flex;
}

.pokemon-type-text,
.pokemon-type-text2 {
  width: 100px;
  margin-right: 10px;
  text-transform: capitalize;
  border: 2px solid #00000052;
  border-radius: 10px;
  text-align: center;
  cursor: default;
}

.pokemon-type-text2{
  width: 138px;
}

.pokemon-btn {
  border: none;
  background-color: #f0f0f0;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.04);
  padding: 4px;
  border-radius: 11px;
  cursor: pointer;
}

.pokemon-img {
  width: 80px;
  margin-top: 5px;
}

@media only screen and (max-width: 1800px) {
  #search-nav {
    width: 1700px !important;
  }
  .social-media{
    margin-right: 1325px;
  }
  .pagination{
    margin-right: 44px;
  }
}

@media only screen and (max-width: 1700px) {
  #search-nav {
    width: 1480px !important;
  }
  .social-media{
    margin-right: 1118px;
  }
  .pagination{
    margin-right: 28px;
  }
}

@media only screen and (max-width: 1500px) {
  #search-nav {
    width: 1350px !important;
  }
  .social-media{
    margin-right: 995px;
  }
  .pagination{
    margin-right: 45px;
  }
}

@media only screen and (max-width: 1280px) {
  #search-nav {
    width: 1220px !important;
  }
  .social-media{
    margin-right: 850px;
  }
  .pagination{
    margin-right: 31px;
  }
}

@media only screen and (max-width: 1010px) {
  #search-nav {
    width: 770px !important;
  }
  .social-media{
    margin-left: 76px;
    margin-right: 535px;
  }
  .pokemon-img{
    width: 66px;
    margin-top: 18px;
  }
  .pokemon-type-text,
  .pokemon-type-text2{
    font-size: 14px;
  }
  .card-info h3 {
    font-size: 18px;
    text-transform: capitalize;
  }
  .pagination{
    margin-right: 60px;
  }
}

@media only screen and (max-width: 780px) {
  #search-nav {
    width: 550px !important;
  }
  .social-media{
    margin-left: 45px;
    margin-right: 379px;
  }
  .pokemon-img{
    width: 55px;
    margin-top: 15px;
  }
  .pokemon-type-text{
    font-size: 10px;
  }
  .pokemon-type-text2{
    display: none;
  }
  .card-info h3{
    font-size: 11px !important;
  }
  .pokemon-fav{
    font-size: 12px;
  }
  .pokemon-id{
    font-size: 13px;
  }
  .pagination{
    justify-content: center;
    margin-right: 0px;
  }
}

@media only screen and (max-width: 768px) {
  #search-nav {
    width: 550px !important;
  }
  .social-media{
    margin-top: 3px;
    margin-left: 45px;
    margin-right: 519px;
  }
  .pagination{
    justify-content: center;
    margin-right: 0px;
  }
}

@media only screen and (max-width: 570px) {
  #search-nav {
    width: 357px !important;
    font-size: 12px;
  }
  .social-media{
    margin-top: -4px;
    margin-left: 45px;
    margin-right: 225px;
  }
  .pokemon-img{
    width: 34px;
    margin-top: 15px;
    margin-left: -3px;
  }
  .pokemon-type-text{
    display: none;
  }
  .pokemon-type-text2{
    display: none;
  }
  .card{
    width: -moz-available;
  }
  .card-info h3{
    font-size: 8px !important;
  }
  .pokemon-fav{
    font-size: 7px;
  }
  .pokemon-id{
    font-size: 6px;
  }
  .favs{
    margin-top: 16px;
  }
  .twitter,
  .github{
    width: 18px;
  }
  .heart{
    font-size: 15px;
  }
  .numFavs{
    margin-top: 7px;
    font-size: 12px;
  }
  .pagination{
    justify-content: center;
    margin-right: 0px;
    font-size: 12px;
  }
  .firstIn{
    width: 35px !important;
    margin-top: 1px !important;
    margin-left: -2px !important;
    padding-left: 13px !important;
    height: 30px !important;
  }
}

@media only screen and (max-width: 380px) {
  #search-nav {
    width: 310px !important;
  }
  .social-media{
    margin-top: -4px;
    margin-left: 32px;
    margin-right: 221px;
  }
  .card{
    width: auto;
  }
}
